<%= content_for :page_title, 'About Josh' %>

<h1><%= yield(:page_title) %></h1>

<h3>THIS IS A TEST TO TEST DEPLOYMENT ON WEBFACTION!!!</h3>
<p>I've been creating things since I was a little kid.</p>

<p>I first started making speedboats and things when I was 6, because my carpet in my room was blue. Or atleast it makes for a good reason, I can't actually remember what color it was.</p>

<p>When I got to college, I wanted to write. I still enjoy writing although I don't do much lately. I think at the time I wanted to be some sort of starving, tortured artist who drinks his demons away. That's not me anymore.</p>

<p>Still, I'm creating things all the time. I recently have created a podcast for fathers called <a href="http://www.superdadshow.com">Super Dad Show</a>, so that together "hack" this thing of being a Dad and get better at it.</p>

<p>I like to sift through ruby and rails documentation in my spare time. I like to push code to <a href="https://github.com/jaronoff">github</a>, talk on <a href="https://twitter.com/jaronoff">Twitter</a> and make clients happy.</p>

<p>Whether it's learning to program, helping clients understand what their technical needs are or <a href="http://www.behance.net/wip/327855">designing a user interface for an application</a>, I love all things technical and challenging.</p>

<p>I'm not one of those people who tells themself that they can't do something. I fight through stuff. What I may lack, I am aware of and can augment it by working with other people and getting the job done.</p>