<%= content_for :page_title, 'Get In Touch' %>



<!-- Contact Details -->

  <div class="large-6 small-12 columns">
    <h1>
  <%= yield(:page_title) %></h1>
    <h3>Use the form to contact me.</h3>
    <p>
      I'd love to hear from you. Whether you need help with a web project or your application needs some user testing or a variety of other needs, please get in touch with me.
      <strong>I'd love to work with you.</strong>
    </p>
    <p>
      You can also email me
      <a href="mailto:aronoff@gmail.com?Subject=Contacting%20From%20Your%20Site" target="_top">here.</a>
    </p>
    <p>Or give me a call: <a href="tel:+14126132500">412-613-2500</a></p> 
  </div>
  <form>
    <div class="large-6 columns form">
      <input type="text" placeholder="Name:">
      <input type="text" placeholder="Email:" />
      <textarea placeholder="Message:"></textarea>
      <a href="#" class="button right">Submit</a>
      <!-- Size Classes: [tiny small large] -->
      <!-- Radius Classes: [radius round] -->
      <!-- Color Classes: [secondary success alert] -->
      <!-- Disabled Class: disabled -->
    
    </div>
  </form>
