<%= content_for :page_title, 'Get In Touch' %>



<!-- Contact Details -->

  <div class="large-6 small-12 columns">
    <h1>
  <%= yield(:page_title) %></h1>
    <h3>Use the form to contact me.</h3>
    <p>
      I'd love to hear from you. Whether you need help with a web project or your application needs some user testing or a variety of other needs, please get in touch with me.
      <strong>I'd love to work with you.</strong>
    </p>
    <p>
      You can also email me
      <a href="mailto:josh@josharonoff.com?Subject=Contacting%20From%20Your%20Site" target="_top">here.</a>
    </p>
    <p>Or give me a call: <a href="tel:+14126132500">412-613-2500</a></p> 
  </div>
  <form>
    <div class="large-6 columns form">
     <div id="wufoo-qo0bf5712yzw0e">
Fill out my <a href="https://jaronoff.wufoo.com/forms/qo0bf5712yzw0e">online form</a>.
</div>
<div id="wuf-adv" style="font-family:inherit;font-size: large;color:#a7a7a7;text-align:center;display:block;">HTML Forms powered by <a href="http://www.wufoo.com" >Wufoo</a></div>
<script type="text/javascript">var qo0bf5712yzw0e;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'jaronoff', 
'formHash':'qo0bf5712yzw0e', 
'autoResize':true,
'height':'777',
'async':true,
'host':'wufoo.com',
'header':'hide', 
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { qo0bf5712yzw0e = new WufooForm();qo0bf5712yzw0e.initialize(options);qo0bf5712yzw0e.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>
    
    </div>
  </form>
