<%= content_for :page_title, 'Home' %>

<!-- First Band (Image) -->
<section id="intro">

  <h3>I'm Josh Aronoff.</h3>
  <p>
    I am a
    <%= link_to "User Interface and Experience Designer", "#" %>
    by day,
    <%= link_to "fatherly podcaster", "http://www.superdadshow.com" %> by night.</p>

  <p>
    I believe in the power of a good story as a way to unify people. I use design to help elevate lives. Solving problems is my jam, and I dance when I play with new technologies. Life is good in Pittsburgh.
  </p>

  <hr></section>
<!-- Second Band (Image Left with Text) -->

<div class="row"></div>
<section id="capabilities">
  <h3>What I Do</h3>
  <div class="small-12 large-6 columns">
    <h4> <i class="fa fa-sitemap"></i>
      UI Design
    </h4>
    <p>Making User Interfaces elegant and functional.</p>

    <h4> <i class="fa fa-microphone"></i>
      Podcasting
    </h4>
    <p>Creating community online.</p>

    <h4>
      <i class="fa fa-print"></i>
      Print Design
    </h4>
    <p>Where my roots are.</p>

  </div>
  <div class="small-12 large-6 columns">

    <h4>
      <i class="fa fa-users"></i>
      UX Design
    </h4>
    <p>Working with people to make better software.</p>

    <h4>
      <i class="fa fa-calendar"></i>
      Project Management
    </h4>
    <p>Helping teams get stuff done on time.</p>

    <p> <strong>See anything you need help with?</strong>
      <!-- Size Classes: [tiny small large] -->
      <!-- Radius Classes: [radius round] -->
      <!-- Color Classes: [secondary success alert] -->
      <!-- Disabled Class: disabled -->
     
    </p>
     <a href="/contact" class="button">Let's Talk.</a>
  </div>

</section>
</div>
</div>
</div>
</div>