<%= content_for :page_title, 'Home' %>

<!-- First Band (Image) -->
 <section id="intro">
    
      <img src="http://placehold.it/1000x400&text=[hero image]">
    <hr>
  </section>
  <!-- Second Band (Image Left with Text) -->
  

  <section id="capabilities">
    
      <h3>What I Do</h3>
      
      
      <h4><i class="fa fa-sitemap"></i>UI Design</h4>
        </section>
      </div>
    </div>
  </div>
    </div>
 