<%= content_for :page_title, 'Onboarding Questionairre' %>

  <div class="large-6 small-12 columns">
    <h1>
  <%= yield(:page_title) %></h1>
	<h3>Use the form to tell me more about your project.</h3>

	</div>