<%= content_for :page_title, 'Portfolio' %>

<h1><%= yield(:page_title) %></h1>
<dl class="sub-nav">
  <dt>Filter:</dt>
  <dd class="active"><a href="#">All</a></dd>
  <dd><a href="#">UI/UX</a></dd>
  <dd><a href="#">Web Design</a></dd>
  <dd><a href="#">Graphic Design</a></dd>
</dl>



<div class="row">
          <div class="large-12 show-for-small columns">
          <h3>All</h3><hr>
        </div>

          
        
          <div class="large-3 small-3 columns">
            <img src="http://placehold.it/500x500&amp;text=Thumbnail">
            <div class="panel">
              <p>Description</p>
            </div>
          </div>
 
         
 
 
      
        </div>