<%= content_for :page_title, 'Highmark Blue Cross Blue Shield Medicare Site Redesign' %>

<h3><%= yield(:page_title) %></h3>
<p><b>Fields:</b> <project field names here.> Graphic Design, UI/UX, Web Design</p>


<div class="row">
  <div class="small-7 large-8 columns"><p>
This all would be regular copy from the main project area. </p>
<b>Duties and Tasks I Performed:</b>
<p>Web design, information architecture, image production, usability testing, and some project management</p>
 
<b>Problem:</b>
<p>Highmark needed a redesign of their Medicare website and they needed it kind of fast.
They gave myself and another user interface designer about 5 days to complete a rather lengthy information apprchitecture, screen designs, and present them to the client as soon as possible.</p>

<hr>

<img src="https://m1.behance.net/rendition/modules/84479593/disp/dbf3092941fdb7364e8ea75b200e14bb.png">

<hr>

<img src="https://m1.behance.net/rendition/modules/84479593/disp/dbf3092941fdb7364e8ea75b200e14bb.png">

<hr>

<b>Solution:</b>
<p>After we presented the initial templates to the client, we put them into testing to test not only the look and feel, but also the functionality and completion of tasks. The usability tests went well and we continued with implementation.</p>

<p>While design-wise I feel that this site leaves a lot to be desired, the stakeholders, dependencies and timeline issues were great and we had to work within some very painful browser requirements and had to compromise.
</p> 
<p>I think that we were successful in creating something that was better than what was there previously, that gave the client the ability to maintain their own site outside of a traditional long development cycle, and overall everyone was happy with the project.</p>

<b>Key things to notice:</b>
<p>There is an interaction where you have to select which county you’re in to see which medicare plans are available to you. This is a mandated requirement and is fundamentally how medicare is selected by people who qualify for it.
</p> 
<p>Prior to this redesign, there was a modal window that caused the user to make that decision up front without being able to move further in the site.</p>
 
<p>We eliminated this interaction from the beginning, and put it closer to the information that it needed to trigger (shown above); the plans and this kept the functionality the same but allowed the user to use the site and was more of a helper than a barrier to content.</p></div>
  <div class="small-5 large-4 columns">
  	<blockquote><b>About Project:</b>
  	<p>
Highmark needed a redesign of their Medicare website and they needed it kind of fast.</p>

<p>They gave myself and another user interface designer about 5 days to complete a rather lengthy information architecture, screen designs, and present them to the client as soon as possible.
</p>

<b>Project Tags:</b><br>
<span class="label">Web</span>
<span class="label">Medicare</span>
<span class="label">Medical</span>
<span class="label">Site</span>
<span class="label">Redesign</span>

</blockquote>


  </div>

</div>
