<%= content_for :page_title, 'Services' %>

<h1>
	<%= yield(:page_title) %></h1>





	What is the purpose? What needs or wants does it satisfy for your customers? For your prospects? Write down the most obvious needs and wants. 

	What sets your products and services apart from the rest? For each product and service ask: Is it quality? Price? Convenience? Style? Professionalism?


	User Experience Design
	You need to know what people think about the software and applications you're building. I can help you with this by leading usability testing sessions, helping craft user surveys, 