/* Color Pallette -- "Copy of Copy of Copy of Holland" on Adobe Kuler */
$gray: #303033;
$gray_dark: #1F1F1F;
$gray_light: #333333;


$blue: #4D6370;
$blue_light: #76a83b;
$blue_dark: #233742;



$white: #F2F2F7;
$yellow: #FCC861;



/* Text Variables --- Links, text, borders, etc. */
$color-border: $gray;
$color-border-dark: $gray_dark;
$color-border-light: $gray_light;



$text_color: $white;
$link_color: $blue;
$font-stack: Helvetica, sans-serif;
