/* Color Pallette -- "Copy of Copy of Copy of Holland" on Adobe Kuler */
$gray: #2B2B2B;
$gray_dark: #1F1F1F;
$gray_light: #333333;

$blue: #3E6372;
$blue_light: #578CA1;
$blue_dark: #28404A;

$green: #5c832f;
$green_light: #76a83b;
$green_dark: #284907;


$white: #F2F2F7;
$yellow: #FCC861;



/* Text Variables --- Links, text, borders, etc. */
$color-border: $gray;
$color-border-dark: $gray_dark;
$color-border-light: $gray_light;



$text_color: $white;
$link_color: $green;
$font-stack: Helvetica, sans-serif;
