@import 'base';

// Navbar
// =====
.nav-height {
  height:68px;
}

nav.top-bar {
  @extend .nav-height;
  background-color:$blue_dark;

  ul {
    @extend .nav-height;
    background-color:$blue_dark
  }

  ul.right {
    li {
      padding-bottom: 10px;

      a { line-height: 68px; }
    }
  }

  .title-area {
     font-size: 20px;
    

    .name {
      color:$white;
    }

  }

  li {
    @extend .nav-height;

    &:hover { color:$yellow; }

    a { padding-top: 20px; }
  }
}
li .name a {
  color:$white;
}

// Top Bar
// =======
.top-bar, .title-area, .contain-to-grid, .top-bar-section li.hover>a:not(.button) {
  background-color: $blue_dark;
}

// This ensures the menu button displays all of the nav items when in mobile screen
.top-bar.expanded {
  overflow: visible !important;
  z-index: 9999999999999999;

  ul.right {
    li {
      //padding-bottom: 10px;

      a {
        line-height: 78px;
        padding: 0px 0px 0px 15px;
        //padding-left: 15px;
      }
    }
  }
}

.top-bar-section li a:not(.button) {
  border-bottom: $blue_dark;
    background-color: $blue_dark;

  &:hover {
    background-color: $yellow;
    }
}




// Footer
// ======
* {
  margin: 0;
}

html, body {
  height: 100%;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px;

  &:after {
    content: "";
    display: block;
    /* .push must be the same height as footer */
    height: 142px;
  }
}


.footer {
  background-color: $blue_dark;
  @extend .content-padding;
  height:200px;
  padding-top: 30px;
  color:$yellow;

  p, a:hover {
    color: $yellow;
  }
}



label.desc {
  color: $blue_dark;
}
