@import 'base';

// Home Page
// =========
#capabilities {
  background-color: $green;
  @extend .content-padding;
  height:400px;
  padding:15px;
  margin-bottom: 20px;

  @media screen and (min-width: $break-small) {
    height: 700px;
    margin-bottom: 20px;
  }
  @media screen and (min-width: $break-large) {
    height: 400px;
    margin-bottom: 20px;
  }

  h3 { color: #fff; }

  p { color:#fff; }
  }

// Contact Page
// ============
.form {
  padding-top: 80px;
}

// Projects Index Page
// ===================
.project {
  .panel {
    min-height: 375px;
  }
}

