@import 'base';

// Home Page
// =========
#capabilities {
  background-color: $green;
  @extend .content-padding;
  height:390px;
  padding:15px;

  h3 { color: #fff; }

  p { color:#fff; }
   @media screen and (min-width: $break-small) {
   	height: 800px;
   }

}

// Contact Page
// ============
.form {
  padding-top: 80px;
}

// Projects Index Page
// ===================
.project {
  .panel {
    min-height: 375px;
  }
}

