@import 'base';

// Home Page
// =========
#capabilities {
  background-color: $green;
  @extend .content-padding;
  height:390px;

  h3 { color: #fff; }

  p { color:#fff; }
}

// Projects Index Page
// ===================
.project {
  .panel {
    min-height: 375px;
  }
}

// Contact Page
// ============
.form {
  padding-top: 80px;
}