// Place all the styles related to the Projects controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Projects Index Page
// ===================
@import 'base';


p .project_description {
	font-size: .5em;
	line-height: 1em;
	color: $blue; 
}
