@import 'reset';
@import 'colors';

.content-padding {
  padding:20px 15px 0 15px;
}


.form {
  padding-top: 80px;
}

#capabilities {
  background-color: $green;
  @extend .content-padding;
  height:390px;
  
}
#capabilities h3 {
 color: #fff;
}
#capabilities p {
  color:#fff;
}

i {
  padding-right: 10px;
}

/* Type Styles */

p{
  color: $gray;

}
a{
  color: lighten( $link_color, 10% );
    &:hover {
        color: $link_color;
       z-index:999;   
    transform: scale(1.1); 
    }
}

img {
  max-width: 100%;
}

body {
	background: #ffffff url('low_contrast_linen.png') repeat fixed center; 
	font: 100% $font-stack;
}


.top-bar {
  border-bottom: $green_dark;

}

.content {
  background-color: $white;
  @extend .content-padding;
 
}
.footer {
  background-color: $gray_dark;
  @extend .content-padding;
  height:150px;
}



h1, h2, h3,h4,h5 {
  color: $green_dark;
}




/* Footer Styles */
* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.footer, .page-wrap:after {
  /* .push must be the same height as footer */
  height: 142px; 
}




