<footer class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-4 medium-4 small-12 columns">
        <p><a href="tel:+14126132500">412-613-2500</a> | <a href="mailto:aronoff@gmail.com">Email me</a></p>
      </div>
      <div class="large-8 medium-8 small-12 columns">
        <ul class="inline-list right">
          <%= render :partial =>'layouts/globalnav' %></ul>
        <div class="row">
          <div class="large-12 columns">
            <ul class="inline-list right">
              <%= render :partial =>'layouts/social' %></ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>