<footer class="row">
    <div class="large-12 columns">
      <hr>
      <div class="row">
        <div class="large-6 columns">
          <p>© Copyright Josh Aronoff. Word up.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
              <li><%= link_to 'About Josh', page_path('about') %></li>
              <li><%= link_to 'Portfolio', page_path('portfolio') %></li>
              <li><%= link_to 'Experience', page_path('experience') %></li>
              <li><%= link_to 'Contact', page_path('contact') %></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>