<div class="contain-to-grid sticky">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <%= link_to image_tag("tag.png"), page_path('home') %>
        <%= link_to 'Aronoff Creative', page_path('home') %>
      </li>

      <li class="toggle-topbar menu-icon">
        <a href="">Menu</a>
      </li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <%= render :partial => 'layouts/globalnav' %>
      </ul>
  </nav>
</div>





