<li><a href="https://github.com/jaronoff"><i class="fa fa-github-square fa-2x"></i></a></li>
<li><a href="http://dribbble.com/jaronoff"><i class="fa fa-dribbble fa-2x"></i></a></li>
<li><a href="https://twitter.com/jaronoff"><i class="fa fa-twitter-square fa-2x"></i></a></li>
<li><a href="https://www.facebook.com/josharonoff"><i class="fa fa-facebook-square fa-2x"></i></a></li>
<li><a href="http://www.superdadshow.com"><i class="fa fa-microphone fa-2x"></i></a></li>

